<div class="container-fluid" style="padding-top: 40px; padding-bottom: 20px;">
  <div id="overlay" *ngIf="!menusCharger;">
    <div id="text">Chargement des vins en cours...</div>
  </div>

  <div class="row aff_mobile menu-details" *ngFor="let i of menus" style="margin-bottom: 20px;" >
      <div class="col-md-6">  
        <h2>{{i.nom | uppercase}}</h2>
      </div>
      <div class="col-md-3 d-flex list-prix" id="list-prix">
          <p id="prix_pm">{{i.pm}}</p>
          <p id="show-mobile" class="hidden-md-up"><strong>33cl</strong></p>
      </div>
      <div class="col-md-3 d-flex list-prix" id="list-prix">
          <p id="prix_gm">{{i.gm}}</p>
          <p id="show-mobile" class="hidden-md-up"><strong>50cl</strong></p>
      </div>
  </div>
</div>