<div parallax id="home" class="parallax-home" [config]="{axis: X, speed: -.2 , initialValue: 180}">
	<!-- Menu -->
	<div class="menu" id="content-menu">
		<div class="container" id="menu-bureau">
			<div class="row pt-4">
				<div class="col-md-2">
					<div
						id="comp-itb5kbcnlink" 
						class="b4link"	 
					>
						<img src="assets/images/logo/logo_header.png">
					</div>
					
				</div>
				<div class="col-md-8">
					<div class="row">
							<div class="col-md-1">							
							</div>

							<div class="col-md-9">
								<div class="row">
									<div class="col-md-3" id="title-nav">
										
										<a 
										class="text-center active"
										id="nav-menu"
											style="margin-left: -76%;font-size: 20pt;" 
											(click)="goTo('#home')"
										>
											ACCUEIL
										</a>
									</div>
									<div class="col-md-3" id="title-nav">
										<a
										class="text-center"
										id="nav-menu"
										style="margin-left: -48%;font-size: 20pt;" 
											(click)="goTo('#presentation')"
										>
											PRESENTATION
										</a>
									</div>
									<div class="col-md-3" id="title-nav">
										<a										
										class="text-center" 
										id="nav-menu"
											style="margin-left: 64%;font-size: 20pt;" 
											(click)="goTo('#menu')"
										>
											MENU
										</a>
									</div>
									<div class="col-md-3" id="title-nav">
										<a class="text-center" 
										id="nav-menu"	
											style="margin-left: 58%;font-size: 20pt;" 
											(click)="goTo('#contact')"
										>
											CONTACT
										</a>
									</div>									
								</div>
							</div>

							<div class="col-md-2">							
							</div>											
					</div>
				</div>
				<div class="col-md-2" id="title-nav">
					<a id="icon-menu"
						routerLink="/"					 
					>
						<img src="assets/images/logo/logo-o_o_3.png">
					</a>
					<a id="icon-menu"
						routerLink="/"				 
					>
						<img src="assets/images/logo/logo_fb_3.png">
					</a>
					<a id="icon-menu"
						routerLink="/"					 
					>
						<img src="assets/images/logo/logo_instagram_3.png">
					</a>
									
				</div>				
			</div>
		</div>
		<div class="container-fluid" id="menu-bureau-small">
			<div class="row pt-4">
				<div class="col-md-2">
					<div
						id="comp-itb5kbcnlink" 
						class="b4link"	 
					>
						<img src="assets/images/logo/logo_header.png">
					</div>
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-6">
								<div class="row">
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu"
										class="text-center active" 
											style="margin-left: -15%;font-size: 17pt;" 
											(click)="goTo('#home')"
										>
											ACCUEIL
										</a>						
									</div>
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu"
											class="text-center"
											style="margin-left: 17%;font-size: 17pt;" 
											(click)="goTo('#presentation')"
										>
											PRESENTATION
										</a>
									</div>
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu"
											class="text-center"
											style="margin-left: 105%;font-size: 17pt;" 
											(click)="goTo('#menu')"
										>
											MENU
										</a>
									</div>
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu"
											class="text-center"
											style="margin-left: 95%;font-size: 17pt;" 
											(click)="goTo('#contact')"
										>
											CONTACT
										</a>
									</div>									
								</div>
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-2" id="title-nav">
					<a style="margin-left: 23px;"  id="icon-menu"
						routerLink="/"					 
					>
						<img src="assets/images/logo/logo-o_o_3.png">
					</a>
					<a id="icon-menu"
						routerLink="/"				 
					>
						<img src="assets/images/logo/logo_fb_3.png">
					</a>
					<a id="icon-menu"
						routerLink="/"					 
					>
						<img src="assets/images/logo/logo_instagram_3.png">
					</a>
									
				</div>					
			</div>
		</div>
		<div class="container-fluid" id="menu-tablet">
			<div class="row pt-4">
				<div class="col-md-2">
					<div
						id="comp-itb5kbcnlink" 
						class="b4link"
					>
						<img src="assets/images/logo/logo_header.png">
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
							<div class="col-md-2">							
							</div>

							<div class="col-md-10">
								<div class="row">
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu" class="text-center active"
											style="margin-left: -96%;font-size: 16pt;" 
											(click)="goTo('#home')"
										>
											ACCUEIL
										</a>						
									</div>
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu"
											class="text-center"
											style="margin-left: -40%; font-size: 16pt;" 
											(click)="goTo('#presentation')"
										>
											PRESENTATION
										</a>
									</div>
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu"
											class="text-center"
											style="margin-left: 105%;font-size: 16pt;" 
											(click)="goTo('#menu')"
										>
											MENU
										</a>
									</div>
									<div class="col-md-3" id="title-nav">
										<a id="nav-menu"
											class="text-center"
											style="margin-left: 95%;font-size: 16pt;" 
											(click)="goTo('#contact')"
										>
											CONTACT
										</a>
									</div>									
								</div>
							</div>
												
					</div>
				</div>
				<div class="col-md-1">
					
				</div>
				<div class="col-md-3" id="title-nav">
					<a id="icon-menu" style="margin-left: 51px;" 
						routerLink="/"					 
					>
						<img src="assets/images/logo/logo-o_o_3.png">
					</a>
					<a id="icon-menu"
						routerLink="/"				 
					>
						<img src="assets/images/logo/logo_fb_3.png">
					</a>
					<a id="icon-menu"
						routerLink="/"					 
					>
						<img src="assets/images/logo/logo_instagram_3.png">
					</a>
									
				</div>	
							
			</div>
		</div>
		<div class="container-fluid" id="menu-tablet-min">
			<div class="row pt-4">
				<div class="col-md-2">
					<div
						id="comp-itb5kbcnlink" 
						class="b4link" 
					>
						<img src="assets/images/logo/logo_header.png">
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-3" id="title-nav">
							<a id="nav-menu" class="text-center active"
								style="margin-left: -23%;font-size: 14pt;" 
								(click)="goTo('#home')"
							>
								ACCUEIL
							</a>						
						</div>
						<div class="col-md-3" id="title-nav">
							
							<a id="nav-menu"
								class="text-center"
								style="margin-left: -24%;font-size: 14pt;" 
								(click)="goTo('#presentation')"
							>
								PRESENTATION
							</a>
						</div>
						<div class="col-md-3" id="title-nav">
							<a id="nav-menu"
								class="text-center"
								style="margin-left: 52%;font-size: 14pt;" 
								(click)="goTo('#menu')"
							>
								MENU
							</a>
						</div>
						<div class="col-md-3" id="title-nav">
							<a id="nav-menu"
								class="text-center"
								style="margin-left: 17%;font-size: 14pt;" 
								(click)="goTo('#contact')"
							>
								CONTACT
							</a>
						</div>	
											
					</div>
				</div>
				<div class="col-md-3" id="title-nav">
							<a id="icon-menu" style="margin-left: 43px;" 
						routerLink="/"					 
							>
								<img src="assets/images/logo/logo-o_o_3.png">
							</a>
							<a id="icon-menu"
								routerLink="/"				 
							>
								<img src="assets/images/logo/logo_fb_3.png">
							</a>
							<a id="icon-menu"
								routerLink="/"					 
							>
								<img src="assets/images/logo/logo_instagram_3.png">
							</a>
									
				</div>	
							
			</div>
		</div>

		<div id="menu-mobile">
			<div class="topnav" id="myTopnav">
					<a
					 id="icon-mobile" >
							<img src="assets/images/logo/logo_header.png">
					</a>
										
				  <a 
				  id="icon-menu" 
						style="padding-top: 5%;"
						(click)="goTo('#home')"
					>
						ACCUEIL
					</a>	
				  <a
				   id="icon-menu" 
				  style="padding-top: 5%;"
						
						(click)="goTo('#presentation')"
					>
						PRESENTATION
					</a>
				  <a 
				  id="icon-menu" 
				  style="padding-top: 5%;"
					(click)="goTo('#menu')"
					>
						MENU
					</a>
					<a
					 id="icon-menu" 
					style="padding-top: 5%;"
						
						(click)="goTo('#contact')"
					>
						CONTACT
					</a>
				 
				  <a  href="javascript:void(0);" style="font-size:25px;
				  border-top: 1px solid transparent;
				  color: black;" class="icon" (click)="myFunction()">&#9776;</a>
			</div>
			
			
		</div>
	</div>
	<!-- Fin menu -->
</div>
<div 
	id="content" 
>

	

	<div id="presentation">
		<app-presentation></app-presentation>
	</div>
	
	<div id="menu">
		<div 
		parallax 
		class="parallax-burger" 
		[config]="{axis: X, speed: 1, initialValue: 650}"
		>
			<h4 class="font_4">
				Nos Burger
			</h4>
		</div>
		<app-menu></app-menu>

		<div 
			parallax 
			class="parallax-entree" 
			[config]="{axis: X, speed: 1, initialValue: 650}"
		>
			<h4 class="font_4">
				Nos Entrées
			</h4>
		</div>
		<app-entrees></app-entrees>
	
		<div 
			parallax 
			class="parallax-plats" 
			[config]="{axis: X, speed: 1, initialValue: 650}"
		>
			<h4 class="font_4">
				Nos Plats
			</h4>
		</div>
		<app-plats></app-plats>

		<div 
			parallax 
			class="parallax-desserts" 
			[config]="{axis: X, speed: 1, initialValue: 650}"
		>
			<h4 class="font_4">
				Nos Dessert
			</h4>
		</div>

		
		<div 
		parallax 
		class="parallax-boissons" 
		[config]="{axis: X, speed: 1, initialValue: 325}"
		>
		<h4 class="font_4">
			Nos Boissons
		</h4>
	</div>
	
	<div class="container">
		<div class="tabs" >
			<nav class="tabMenu">
				<div class="row">
					<div class="col-md-6 tabMenuList current" (click)="openTab('des', $event)">Nos Boissons</div>
					<div class="col-md-6 tabMenuList" (click)="openTab('vin', $event)">Nos Vins</div>
				</div>
			</nav>
			<div class="tab" id="des">
				<app-boissons></app-boissons>
			</div>
			<div class="tab hide-content" id="vin">
				<app-vins></app-vins>
			</div>
		</div>
	</div>

		
		<div 
			parallax 
			class="parallax-presentation" 
			[config]="{axis: X, speed: 1}"
		>
			<h4 class="font_4">
				Nos presentations
			</h4>
		</div>		
		<app-nosPresentation></app-nosPresentation> <!-- component pour le "nos_presentation" non pas pour le plat -->
		
	</div>

	<div id="contact">
		<app-contact></app-contact>
	</div>

</div>