<div class="container-fluid" style="padding-top: 40px; padding-bottom: 20px;">
    

    <div class="row aff_mobile" style="margin-bottom: 20px;" >
        <div class="col-md-2">            
        </div>

        <div class="col-md-8">
              
            <h4 class="font_4" style="text-align:center">
                <span class="style-text" >
                        <span style="font-family:reklamescriptw00-medium,cursive;">''</span>Nous vous proposons d'animer  vos   <br>
                    Anniversaires ,Brunch, Mariage, Baptême, <br> Soirées privées,Événements, Salon...<span style="font-family:reklamescriptw00-medium,cursive;">''</span>
                </span>
            </h4>
        </div>
       

        <div class="col-md-2">            
        </div>
    </div>
</div>
